<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title><%= data.name %></title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="create">
        <h1><%= data.name %></h1>
        <a href="/avatar"><img src="<%= data.img%>"></a>
        <ul>
            <li>Hometown: <%= data.hometown %></li></br>
            <li> "<%= data.quote %>"</li></br>
        </ul>
    </div>
</body>
</html>